<div class="df-wrapper">

    <header class="df-header">
        <div class="wrapper -has-user">
            <div></div>

            <div class="logo-wrapper">
                <img  class="image" src="assets/logo/devfreela.svg" alt="logo devFreela">
            </div>

            <div class="user">
                <div class="info">
                    <span id="name" class="name">Andre Henrique</span>
                    <span id="role" class="role">Desenvolvedor</span>
                </div>

                <div class="photo-wrapper">
                    <img src="https://img.ibxk.com.br/2019/02/17/17124052466014.jpg" alt="Foto do usuário">
                </div>
            </div>
        </div>

        
    </header>
</div>