.df-login{
    >.df-wrapper{
        >.main-content{
            >.left{
                max-width: 450px;
                margin: auto auto;

                >.radio-buttons{
                    margin-bottom: 42px;

                    >.title{
                        font-size: calc(var(--font-size-base) + 8px);
                        font-weight: 800;
                        margin-bottom: 16px;
                    }

                    >.buttons{
                        >.df-radio{
                            margin-right: 70px;
                        }
                        
                    }
                }

                >.main-title{
                    font-weight: 800;
                    margin-bottom: 40px;
                    >.up{
                        font-size: calc(var(--font-size-base) + 38px);
                        display: block;
                        margin-bottom: 7px;
                    }

                    >.down{
                        font-size: calc(var(--font-size-base) + 32px);
                    }
                }

                >.steps{
                    display: block;
                    font-weight: bold;
                    font-size: calc(var(--font-size-base) + 4px);
                    color: var(--df-color-gray);
                    font-family: Helvetica;
                    margin-bottom: 13px;
                }
            }
        }
    }
}


