<div class="df-register">
    <app-df-wrapper>
        <form class="left" (submit)="cadastrar()" [formGroup]="registerForm">
                 
            <!-- <span class="steps">PASSO 1 DE 2</span> -->
            

            <h1 class="main-title">
                <span class="up">Olá!</span>
                <span class="down">Vamos criar o seu cadastro.</span>
            </h1>
            <div class="radio-buttons">
                <h3 class="title">Qual o seu perfil?</h3>

                <div class="buttons">
                    <label class="df-radio">
                        Dev
                        <input name="role" type="radio">
                        <span class="checkmark"></span>
                    </label>

                    <label class="df-radio">
                        Cliente
                        <input name="role" type="radio">
                        <span class="checkmark"></span>
                    </label>     
                </div>
                 
            </div>
            
        
            <mat-form-field appearance="legacy">
                <mat-label>Nome Completo</mat-label>
                <input matInput formControlName="fullName">
            </mat-form-field> 

            <mat-form-field appearance="legacy">
                <mat-label>Data de Nascimento</mat-label>
                <input type="date" matInput formControlName="birthDate">
            </mat-form-field> 

            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field> 

            <mat-form-field appearance="legacy">
                <mat-label>Senha</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field> 

            <app-df-button text="Continuar">
            </app-df-button>
            
        </form>

        <div class="right">
            <img  class="image" src="assets/image/bg-cubes.png" alt="Fundo de decoração com 3 cubos com fundo de arco-iris">
        </div>
    </app-df-wrapper>

</div>
